body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 0;
  height: 100%;
  padding: 1.3rem 5rem;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background: #f8fafc;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  text-wrap: nowrap;
}
header p {
  display: inline-block;
  margin: auto;
  flex-grow: 1;
}
header .name {
  font-size: x-large;
  font-weight: bolder;
}
header .profile {
  text-align: end;
  font-size: large;
  font-weight: 600;
}

main {
  max-height: -moz-max-content;
  max-height: max-content;
}
main .summary {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.5rem;
  text-wrap: nowrap;
}
main .summary h3 {
  color: #4c51bf;
  margin: 1.5rem 0 0 0;
}
main .summary div {
  flex-grow: 1;
  border-radius: 1rem;
  padding-left: 1.5rem;
  height: 220px;
}
main .summary .balance {
  background: #f8fafc;
}
main .summary .balance h3 {
  margin-bottom: -1.2rem;
}
main .summary .balance p {
  color: #10b981;
}
main .summary .balance .final-bal {
  font-size: xx-large;
  font-weight: bolder;
}
main .summary .balance .bal-info {
  margin-top: -1.8rem;
}
main .summary .performance {
  background: #f8fafc;
}
main .summary .performance .matrics {
  display: flex;
  color: #4c51bf;
}
main .summary .performance .matrics .matric {
  font-size: x-large;
  font-weight: bolder;
}
main .summary .performance .matrics .matric-info {
  margin-top: -1.8rem;
  font-weight: 100;
  font-size: small;
  color: #6b7280;
}
main .summary .backtest-summary {
  background: #f8fafc;
}
main .summary .backtest-summary h3 {
  margin-bottom: 2rem;
}
main .summary .backtest-summary p {
  /*
  made p component display flex so that I can move the span to the far left
  bacause text-align: end; didn't work on span (it works on block elements and
  span in an inline elment)
  */
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}
main .summary .backtest-summary p span {
  font-weight: bolder;
  color: #4c51bf;
}
main .summary .backtest-summary hr {
  min-width: 150px;
  margin: -0.5rem 1rem 0 0;
  border-color: rgba(107, 114, 128, 0.1058823529);
}
main .backtesting-panel {
  display: flex;
  gap: 1.5rem;
}
main .backtesting-panel .results-chart {
  flex: 3 1 auto;
  background-color: #f8fafc;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
}
main .backtesting-panel .results-chart h3 {
  color: #4c51bf;
}
main .backtesting-panel .results-chart .chart {
  margin: 0;
}
main .backtesting-panel .results-chart .chart img {
  width: 100%;
  max-width: 700px;
  height: auto;
  max-height: 400px;
  display: block;
  background: lightgray;
}
main .backtesting-panel .form-grp {
  background-color: #f8fafc;
  border-radius: 1rem;
  flex: 1 1 auto;
  padding: 1rem;
}
main .backtesting-panel .form-grp h3 {
  color: #4c51bf;
}
main .backtesting-panel .form-grp div {
  margin: 1.5rem 0;
}
main .backtesting-panel .form-grp label {
  display: block;
  margin: 0 0 0.5rem 0;
  color: #4c51bf;
  font-weight: 500;
}
main .backtesting-panel .form-grp select {
  border: 2px solid #e5e7eb;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.6rem;
  color: rgba(107, 114, 128, 0.5882352941);
}
main .backtesting-panel .form-grp select:focus {
  border-color: #4c51bf;
  outline: none;
  font-weight: 600;
  color: #000000;
}
main .backtesting-panel .form-grp input[type=number] {
  border: 1.5px solid #e5e7eb;
  border-radius: 0.5rem;
  width: 95%;
  padding: 0.6rem 0.6rem;
}
main .backtesting-panel .form-grp input[type=submit] {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  padding: 0.8rem 5rem;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #4c51bf, #667eea);
  border: none;
  color: #f8fafc;
  font-weight: 500;
}

@media (max-width: 940px) {
  .summary, .backtesting-panel {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */