<!DOCTYPE html>
<html>
    <head>
          <meta charset="UTF-8">
        <meta meta name="viewport" content="width=device-width, initial-scale=11.0">
        <title>{% block title %}Forex Bot - Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <header>
            <p class="name">BackTesting Dashboard</p>
            <p class="profile"><span>profile</span></p>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>