{% extends 'base.html' %}

{% block content %}
<section class="summary">

    <div class="balance">
        <h3>Account Balance</h3>
        <p class="final-bal">$12,000</p>
        <p class="bal-info">final balance (start: $2000)</p>
    </div>
    <div class="performance">
        <h3>perfomance Matrics</h3>
        <div class="matrics">
            <div>
                <p class="matric">87%</p>
                <p class="matric-info">WIN RATE</p>
            </div>

            <div>
                <p class="matric">124</p>
                <p class="matric-info">TOT TRADES</p>
            </div>
        </div>
    </div>
    <div class="backtest-summary">
        <h3>backtesting summary</h3>

        <p>total returns <span>24.7%</span></p>
        <hr>
        <p>max drawdown <span>-8.3%</span></p>
        <hr>
        <p>sharpe ratio <span>1.42</span></p>
    </div>

</section>

<section class="backtesting-panel">

    <div class="results-chart">
        <h3>BackTesting GBPUSD</h3>
        <div class="chart"></div>
    </div>

    <div class="form-grp">
        <h3>BackTest Controls</h3>

        <form action="">
            <div class="strategy">
                <label for="strategies">Trading Strategy</label>
                <select name="strategies">
                    <option value="">Select a strategy...</option>
                    <option value="">SMACrossover</option>
                    <option value="">Bollinger Bounce</option>
                </select>
            </div>

            <div class="pairs">
                <label for="currency-pairs">Currency Pair</label>
                <select name="currency-pairs">
                    <option value="option1">Select a currency pair...</option>
                    <option value="">GBPUSD</option>
                    <option value="">EURUSD</option>
                    <option value="">AUDUSD</option>
                </select>
            </div>

            <div class="initial-capital">
                <label for="capital"></label>
                <input type="text" name="capital">
            </div>

            <input type="submit">
        </form>
    </div>

</section>
{% endblock %}